.container{
    width: 55%;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
}
img{
    height: 8rem;
    width: 15%;
    border-radius: 5rem;
    margin: 1rem 25rem 1rem 25rem;
}
.full-widt{
    width: 100%;
}
h1{
    text-align: center;
}
mat-card{
    margin: 1rem 0rem 1rem 0rem;
}
