.container{
    height: 190%;
    background-image:url(https://i.imgur.com/kscSzP3.jpg);
    display: flex;
    align-items: center ;
    justify-content: center;
}
.form{
    width: 45rem;
    margin: auto;
    background-color: rgb(235,235,235);
    padding: 2rem 1rem;
    border-radius: 1rem;
}
.full-width{
    width: 100%;
}
.img2{
    height: 6rem;
    width:50%;
    margin: 0rem 12rem 0rem 12rem;

}
img{
    height: 8rem;
    width: 20%;
    border-radius: 3rem;
    margin: 1rem 18rem 1rem 18rem;
}
h1{
    width: 100%;
    text-align: center;
    }