.container{
    height: 200%;
    /* background-image:url(https://i.imgur.com/kscSzP3.jpg); */
    background: rgb(228, 76, 146); ;
    display: flex;
    align-items: center ;
    justify-content: center;
}
.form{
    width: 40rem;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 2rem 1rem;
    border-radius: 1rem;
}
.full-width{
    width: 100%;
}
.img2{
    height: 6rem;
    width:50%;
    margin: 0rem 11rem 0rem 11rem;

}
img{
    height: 8rem;
    width: 20%;
    border-radius: 3rem;
    margin: 1rem 16rem 1rem 16rem;
}
h1{
    width: 100%;
    text-align: center;
    }

.button1{
    background-color:  rgb(228, 76, 146) ;
    width: 100%;
}
.button2{
  margin: 0.5rem 0rem 0.5rem 0rem;
  background-color:  rgb(142, 126, 134); ;
  width: 100%;
}
    
    