.card{
    width: 100%;
    margin: 1rem auto;
}
img{
height: 30rem;
}
.retangle-left{
    position: absolute;
    width: 700px;
    height: 823px;
    left: 385px;
    top: 100px;
    border-radius: 53px 0px 0px 0px;
    background:  url("src\assets\img\safewomanimage.png");
}
.retangle-right{
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: 1100px;
    top: 100px;
    background: #FFFFFF;

}
.text{
position: absolute;
width: 573px;
height: 546px;
left: 63px;
top: 174px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 30px;
/* or 125% */

letter-spacing: 0.2em;

color: #000000;

}
.page{
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #FFFFFF;
}
.retangle-right-title{
position: absolute;
width: 234px;
height: 89px;
left: calc(50% - 234px/2 - 136px);
top: 70px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;

color: #000000;
}
#rectangle{
    position: absolute;
    width: 133px;
    height: 8px;
    left: 63px;
    top: 130px;

    background: #EA116B;
}
.page{
    background: white;
}
.why{
    position: absolute;
    width: 632px;
    height: 900px;
    left: 700px;
    top: 1000px; 
}
.imgQS{
    background: url("src\assets\img\Quem Somos Yasmin.png");
    position: absolute;
    width: 1500px;
    height:1100px;
    left: 385px;
    top: 1000px;
    border-radius: 53px 0px 0px 0px;
}
.imgQS2{
    background: url("src\assets\img\Quem Somos Erika.png");
    position: absolute;
    width: 1500px;
    height: 1200px;
    left: 385px;
    top: 1990px;
    border-radius: 53px 0px 0px 0px;
}