<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>SafeWoman</mat-card-title>
      <mat-card-subtitle>Seu destino mais seguro</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/SAFEWOMAN (3).png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        - O objetivo geral, é criar uma comunidade onde mulheres(no geral), possam visualizar zonas específicas onde outras pessoas sofreram determinados problemas<br>
        - Também um local onde elas possam contribuir e se sentirem acolhidas pela comunidade em geral.<br>
        - Visualizar regiões mais perigosas, ou de maior índice de problemas.        
      </p>
    </mat-card-content>
  </mat-card>
