<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="page">
  <div>
    <div class="retangle-left">
    </div>
    <div class="retangle-right">
      <h1 class="retangle-right-title">SAFEWOMAN</h1>
      <div id="rectangle"></div>
      <p class="text">
      Nosso projeto tem como objetivo ajudar
      a sociedade, provendo um ambiente 
      confiável e seguro para as mulheres em
      situação de risco ou que se sente inseguras ao caminhar em determinados locais.
      Esperamos que você possa aproveitar os recursos feitos com muito carinho na nossa plataforma.
      Pedimos também se possível, para que você possa colaborar com o crescimento da ferramenta, sugerindo melhorias, modificações, novas idéias, etc...
      Obrigada pela confiança, seja bem vinda(o)
      </p>
    </div>
  </div>
<div class="imgQS"></div>
<div class="imgQS2"></div>
</body>
</html>