.container{
    height: 100%;

}
.sidenav{
    width: 14rem;
    color: white;
    background: rgb(228, 76, 146);

}
img{
    width: 40%;
    height: 5rem;
    margin: .8rem 4rem 1rem 4rem;
}
.sidenav a {
color: white;
}
.sidenav i {
    margin-right: .6rem;
 }
.menu{
    margin: 10px 30px;

    color: white;
    background: rgb(228, 76, 146);

}
div.toolbar{
    display: flex;
    align-items: center;
    background: (65, 55, 59, 53%);
}
